/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff; /* White background */
    color: #333; /* Dark text for readability */
    margin: 0;
    padding: 0;
}
.sorter-section {
    margin-top: 20px;
    padding: 20px;
    width: 70vw;
    background-color: white; /* 배경색 흰색 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 34vh; /* 고정 높이 */
    box-sizing: border-box; /* 패딩 포함된 박스 크기 */
}
/* Sorter Header */
.sorter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 12px;

    width: 96%;

}


/* Modal Styles */
.ant-modal {
    border-radius: 10px;
}

.ant-modal-header {
    background-color: #4C585B;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.ant-modal-body {
    padding: 20px;
}

/* Modal Input Fields */
.ant-input {
    margin-bottom: 10px;
    border-radius: 8px;
}

/* Custom Modal OK Button */
.ant-btn-primary {
    background-color: #4C585B;
    border-color: #4C585B;
    color: white;
}

.ant-btn-primary:hover {
    background-color: #3b4a4d;
    border-color: #3b4a4d;
}
.sorter-header .nav-icon {
    font-size: 30px;
    color: #333; /* 기본 검정색 */
    transition: transform 0.2s ease, color 0.2s ease;
    cursor: pointer;

}

.sorter-header .nav-icon:hover {
    transform: scale(2); /* 호버 시 크기 증가 */
    color: #B7B7B7; /* 파란색 변경 */
}

/* Custom Tooltip Design */
.custom-tooltip .ant-tooltip-inner {
  background-color: #e0f7fa;

  /* 화이트 배경으로 밝고 깨끗한 느낌 */
  color:  black; /* 텍스트 색상은 어두운 회색 */
  font-size: 14px;
  padding: 12px 16px;
  border-radius: 10px; /* 둥근 모서리 */
  font-weight: 500;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); /* 그림자 강조 */
  transition: all 0.3s ease;
  backdrop-filter: blur(4px); /* 유리 느낌 추가 */
}

.custom-tooltip .ant-tooltip-arrow::before {
  background-color: #ffffff; /* 툴팁 화살표 배경색을 화이트로 맞춤 */
}

.custom-tooltip .ant-tooltip-inner:hover {
  background-color: #f9f9f9; /* 툴팁이 hover 될 때 부드러운 배경색 변화 */
  color: #2c2c2c;
}

.custom-tooltip-red .ant-tooltip-inner {
  background-color: #fae0e0; /* 붉은 색 계열 배경 */
  color: black; /* 텍스트 색상 */
  font-size: 14px;
  padding: 12px 16px;
  border-radius: 10px; /* 둥근 모서리 */
  font-weight: 500;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); /* 그림자 강조 */
  transition: all 0.3s ease;
  backdrop-filter: blur(4px); /* 유리 느낌 */
}

.custom-tooltip-red .ant-tooltip-arrow::before {
  background-color: #ffffff; /* 화살표 색상 */
}

.custom-tooltip-red .ant-tooltip-inner:hover {
  background-color: #f2b4b4; /* 붉은색 호버 시 부드럽게 변화 */
  color: #2c2c2c;
}


.sorter-page-section{
    display:flex;
    flex-direction: column;
    height : auto;

}


.sorter-header-section{
    display: flex;
    flex-direction: row;
    width : 100%;
    justify-content: center;
    align-items: center;

    margin-bottom : 1.5vw;
}
