.wholesaler-section-container {
  display: flex;
  gap: 48px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
  padding: 0 24px;
  flex-wrap: wrap;
  width : 100%;
}

.registered-stores-container {
  background-color: transparent;
  border-radius: 16px;
  padding: 28px 24px;
  width: 100%;
  max-width: 1200px; /* 또는 1400px 등 원하는 최대 폭 */
  margin-top : 10vh;
  margin-left : auto;
  margin-right : auto;

  font-family: 'NanumSquareNeoLight', sans-serif;
  border: none;

}

.registered-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 16px;
  color: #333;
  text-align: center;
  letter-spacing: 0.5px;
}



.store-item {
  padding: 14px 16px;
  border-bottom: 1px solid #e0e0e0;
  font-size: 15px;
  color: #444;
  transition: background 0.2s ease;
}

.store-item:last-child {
  border-bottom: none;
}

.store-item:hover {
  background-color: #f5f9f1;
  cursor: pointer;
}
